.wrapper{
  max-width: $max-width;
  margin: auto;
  color: $dark-text;
  @extend %content_horizontal-padding;
  h1{
    margin-top: 3rem;

    font-family: GT-Bold, serif;
    font-size: 46px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid $gray-border
  }
  .checkout_link{
    margin-bottom: 1.5rem;
    text-align: right;
    a{
      @extend %button_primary;
      border-radius: 0.25rem;
    }
  }
  .cart_description{
    display: flex;
    font-family: IbmPlex-Bold, sans-serif;
    font-size: 14px;
    justify-content: space-between;
    padding: 0.5rem 3rem 0.5rem 1rem;
    &_qty{
      margin-right: 3rem;
    }
  }

}

