.wrapper {
  @extend %app_width;

  .chart{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      flex-basis: 33.33%;
      display: flex;
      padding-bottom: 1.4rem;
      border-bottom: 1px solid $gray-lightest;
      padding-top: 1rem;

      img{
        cursor: pointer;
        width: 6rem;
        box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
        transition: transform 300ms ease-in, box-shadow 200ms ease-in;
      }
      img:hover{
        transform: scale(1.1);
        box-shadow: 1px 7px 13px 0px rgba(67, 0, 17, 0.5);
      }
    }
    .bookInfo{
      padding: 1rem;
      font-size: 15px;
      text-align: left;
      p:first-child{
        font-family: GT-Bold, serif;
      }
     p:nth-child(2){
       font-family: IbmPlex-Regular, sans-serif;
       margin: 0.25rem 0;
     }
      p:last-child{
        font-family: IbmPlex-Bold, sans-serif;
      }
    }
  }
}
