@font-face {
  font-family: "GT-Bold";
  src: url("../fonts/GT-Super-Text-Bold-06d6bf11f1b3a7f8f4a1ca47a63940f7ca9779fcc8d87d4a730483b54229346d.woff2") format("woff2");
}
@font-face {
  font-family: "GT-Regular";
  src: url("../fonts/GT-Super-Text-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "IbmPlex-Bold";
  src: url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IbmPlex-Regular";
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IbmPlex-Medium";
  src: url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
}

