%footer-header_horizontal-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

%content_horizontal-padding {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}


%app_width {
  width: 100%;
  max-width: $max-width;
  margin: auto;
}
