$violet: #573BA3;
$purple: #DE2454;
$gray: #F6F5F7;
$gray-light: #e1e1e3;
$purple-dark: #b41b43;
$pink: #FFFFFF;
$biege: #ffeee6;
$white: #ffffff;
$dark: #2c293b;


$max-width: 1024px;


$dark-text: $dark;
$hero-text: $biege;
$light_search_bg: $white;
$search_bg:$gray-light;
$border_line: $gray-light;
$button_primary: $purple;
$button_primary_hover: $purple-dark;
$button_secondary: $violet;
$modal_Bg: $pink;
