$violet: #573BA3;
$violet_opacity : rgba(222,36,84,0.05);
$violet_dark: #2b0f42;
$purple: #DE2454;
$purple-dark: #b41b43;
$gray: #F6F5F7;
$gray-light: #e1e1e3;
$gray-lightest: #eae9ed;
$pink: #FFFFFF;
$pink_lightest: rgba(222,36,84,0.05);
$biege: #ffeee6;
$white: #ffffff;
$dark: #2c293b;
$gray: #808080;
$gray-mid:#F9FAFB;
$gray-border: #e1e1e3;
$gray-secondary: #E5E7EB;
$gray-dark-secondary:#24282F;
$gray-light-secondary: #808C9E;
$red: red;
$green: #4AB31A;
$color-callout: #f6f5f7;



$max-width: 1024px;
$font-size-h1: 46px;
$font-size-h2: 34px;


$admin-nav-font-color: $violet;
$admin-nav-font-hover: $white;
$admin-form-label: $gray-light-secondary;
$admin-form-head: $dark;
$admin-form-input-outline: $violet;
$admin-form-error: $purple;
$admin-form-success :$green;
$admin-icons: $gray-light-secondary;
$admin-border: $gray-secondary;
$admin-bg: $gray-mid;
$admin-minus:$violet;
$admin-bg-hover: $violet;


$category_header: $violet_dark;
$dark-text: $dark;
$hero-text: $biege;
$light_search_bg: $white;
$search_bg:$gray-light;
$border_line: $gray-light;
$button_primary: $purple;
$button_primary_hover: $purple-dark;
$button_primary_bg_disabled: $pink_lightest;
$button_secondary: $violet;
$button_secondary_hover: $violet_dark;
$button_secondary_hover_opacity: $violet_opacity;
$modal_Bg: $pink;
