.info{
  padding: 3rem 0.5rem;
  border-radius: 25px;
  background-color: $pink;
  border: 5px solid $purple;
  max-width:$max-width;
  margin:  10rem auto ;
  text-align: center;
  color: $violet;
  font-size: 30px;
  font-family: IbmPlex-Bold, sans-serif;
}
