.bookInfo{
  display: flex;
  align-items: flex-start;
  flex-basis: 50%;
  .price{
    font-family: IbmPlex-Regular, sans-serif;
    font-size: 16px;
    margin-top: 0.3rem;
  }
  .picture_link{
    @extend %picture_link;

  }
  .info{
    padding-top: 0.6rem;
    .title{
      font-size: 20px;
      font-family: GT-Bold, serif;
      padding-bottom: 1rem ;
    }
    .author{
      font-family: IbmPlex-Regular, sans-serif;
      font-size: 16px;
    }
  }
}
