.wrapper {
  position: relative;
  @extend %app_width;
  margin-bottom: 2rem;
}



.slider {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  height: 20rem;
  padding: 1rem 0;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .left_arrow, .right_arrow {
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 1;
  }

  .left_arrow {
    left: -3%
  }

  .right_arrow {
    right: -3%;
  }
}
